h1 {
    text-align: right;
}

/* .hide {
    display: none;
} */

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

li {
    text-align: left;
    padding-bottom: 5px;
}

li span {
    color: white;
    background-color: blue;
    padding: 3px;
}